.form-row{
  display: flex;
  margin-bottom: 1rem;
}

.form-item{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.form-item:first-child{
  margin-left: 0;
}

.form-item-no-grow{
  flex-grow: 0;
}

.form-item > label {
  font-size: 1.25rem;
  margin-bottom: .25rem;
  margin-left: 0.25rem;
}

.form-item input, .form-item select, .form-item textarea{
  box-sizing: border-box;
  height: 2.8rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(30, 144, 255, 0.6);
  background-color: rgb(30, 144, 255, 0.5);
  color: #eee;
  font-size: 1.3rem;
  font-family: "Oswald";
  font-weight: normal;
  outline: none;
}

.form-item textarea{
  height: 100%;
  resize: none;
}

.form-item select option{
  background-color: #0d3a66;
  font-family: "Oswald";
}

.form-item input:focus, .form-item select:focus, .form-item textarea:focus{
  border: 1px solid #7fbfff;
}

.filepond--root{
  font-family: "Oswald";
  margin-bottom: 0;
}

.filepond--panel-root{
  background-color: rgb(30, 144, 255, 0.5);
  border: 1px solid rgb(30, 144, 255, 0.6);
}

.filepond--drop-label {
  color: #eee;
  font-size: inherit;
}

.form-row-end{
  justify-content: flex-end;
}